@media only screen and (max-width: 600px) {

    .navbar {
        display: inline-block;
        width: 100%;

    }

    .logo {
        font-size: 20px;
    }

    .links {
        width: 100%;
        text-align: center;
    }

    .links a {
        margin: 1px;
    }

    header {
        margin-top: 20px;
        display: block;
    }

    .part-01 {
        text-align: center;
    }
}